.depend
*.[oa]
*.o.flags
drivers/net/hamradio/soundmodem/sm_tbl_*.h

.config
.config.old
.hdepend
.menuconfig.log
.version
System.map
arch/arm/boot/compressed/vmlinux
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/zImage
arch/arm/lib/.lib.a.flags
arch/arm/tools/constants.h
arch/arm/vmlinux.lds
drivers/block/roflash/.roflash.a.flags
drivers/char/conmakehash
drivers/char/consolemap_deftbl.c
drivers/net/hamradio/soundmodem/gentbl
include/asm
include/asm-arm/.arch
include/asm-arm/.proc
include/asm-arm/arch
include/asm-arm/constants.h
include/asm-arm/mach-types.h
include/asm-arm/proc
include/config/
include/linux/autoconf.h
include/linux/compile.h
include/linux/modversions.h
include/linux/version.h
lib/.lib.a.flags
scripts/lxdialog/lxdialog
scripts/mkdep
scripts/split-include
usb
vmlinux
